// Expander
@mixin expander {
  @media screen and (max-width: $small-screen) {
    line-height: 56px;
    border-top: 4px solid $black;
    padding: 0 $small-site-gutters;;
    margin: 0;
    position: relative;
    background: transparent url("#{$image-path}/mobile-expand.svg") no-repeat center right $small-site-gutters;
    background-size: 16px;
    &.active {
      background: transparent url("#{$image-path}/mobile-contract.svg") no-repeat center right $small-site-gutters;
      background-size: 16px;
    }
  }
}

@mixin reveal {
  @media screen and (max-width: $small-screen) {
    line-height: 56px;
    padding: 0 $small-site-gutters;;
    margin: 0;
    position: relative;
    background: transparent url("#{$image-path}/arrow-down.svg") no-repeat center right $small-site-gutters;
    background-size: 16px;
    &.active {
      background: transparent url("#{$image-path}/arrow-up.svg") no-repeat center right $small-site-gutters;
      background-size: 16px;
    }
  }
}

// Type

@mixin product-list-title {
  display: block;
  text-transform: capitalize;
  margin: $halfspacer 0 0 0;
  font-weight: $normal;
}

// Layouts
@mixin site-wrap {
  padding-right: $site-gutters;
  padding-left: $site-gutters;
  @media screen and (max-width: $small-screen) {
    padding-right: $small-site-gutters;
    padding-left: $small-site-gutters;
  }
}

@mixin unset-site-wrap {
  padding-right: 0;
  padding-left: 0
}

// Buttons
@mixin button {
  appearance: none;
  box-sizing: border-box;
  display: inline-block;
  padding: $spacer $spacer4 $spacer $halfspacer;
  border: 4px solid $black;
  border-radius: 0;
  background: $button url("#{$image-path}/arrow-right.svg") no-repeat top 50% right $halfspacer;
  background-size: 7px 12px;
  color: $button-text;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: $normal;
  line-height: 1;
  margin-top: $spacer3;
  text-align: left;
  white-space: nowrap;
  transition: background-color $trans-time ease-in-out;
  @media (hover) {
    &:hover {
      background-color: $button-hover;
      color: $button-text;
    }
  }
  @media screen and (max-width: $small-screen) {
    width: 100%;
    margin-top: $spacer2;
    }
}

@mixin button-centered {
  @include button;
  display: block;
  width: 100%;
  background-image: none;
  padding: $spacer;
  text-align: center;
  @media (hover) {
    &:hover {
      background-color: $button-hover;
      color: $button-text;
    }
  }
  @media screen and (max-width: 959px) {
    margin-top: $spacer;
  }
}

@mixin button-go {
  appearance: none;
  box-sizing: border-box;
  display: inline-block;
  padding: $halfspacer;
  width: 25px;
  border: 0;
  border-radius: 0;
  background: $black url("#{$image-path}/arrow-go.svg") no-repeat center center;
  background-size: 12px 7px;
  color: $white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: $normal;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  transition: background-color $trans-time ease-in-out;
  @media (hover) {
    &:hover {
      background-color: $button;
      color: $black;
    }
  }
}

@mixin button-inverse {
  @include button;
  color: $black;
  background-color: $button-inverse;
}

@mixin button-facets {
  @include button;
  color: $black;
  background: transparent url("#{$image-path}/arrow-down.svg") no-repeat top 50% right $halfspacer;
  background-size: 12px 7px;
  background-color: $brandwhite;
  padding: $halfspacer $spacer2;
}

@mixin button-small {
  @include button;
}

@mixin button-link {
  display: inline;
  width: auto;
  padding: 0;
  border: 0;
  background: $button-text;
  color: $button;
  font-weight: $bold;
  cursor: pointer;
  @media (hover) {
    &:hover {
      color: $link-hover-colour;
    }
  }
}

@mixin button-reset($background) {
  appearance: none;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: $background;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin not-a-button {
  appearance: none;
  border: none;
  background-color: transparent;
  line-height: 1;
  cursor: pointer;
}

// Panels and Overlays

// Sides in from left
@mixin panel {
  z-index: 105;
  position: fixed;
  top: 80px;
  left: 0;
  border-top: 8px solid $black;
  background-color: $panel-background;
  width: calc(100% * 1 / 3);
  height: calc(100vh - 80px);
  padding: $spacer $site-gutters;
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateX(-100%);
  transition: transform .5s, left .5s;
  transition-timing-function: ease-in-out;
  @media screen and (max-width: $small-screen) {
    padding: $spacer $small-site-gutters;
    width: 100vw;
    transition: none;
    transition-timing-function: none;
  }
}

@mixin panel-open {
  -webkit-overflow-scrolling: touch;
  top: 80px;
  transform: translateX(0);
}

// Sidedown from top
@mixin overlay {
  z-index: 104;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: calc(100vh * 1/2);
  padding: $spacer;
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateY(-100%);
  background-color: $brandwhite;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: $small-screen) {
    transition: none;
    min-height: 100vh;
  }
}

@mixin overlay-open {
  -webkit-overflow-scrolling: touch;
  top: 80px;
  transform: translateY(0);
}

// Facets Overlay
@mixin facets-overlay {
  z-index: 106;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: $spacer;
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateY(-100%);
  background-color: $brandwhite;
  transition: all 0.3s ease-in-out;
}

@mixin facets-overlay-open {
  -webkit-overflow-scrolling: touch;
  top: 0;
  transform: translateY(0);
}

// Box Overlay (auto height)
@mixin box-overlay {
  z-index: 104;
  position: fixed;
  top: 0;
  right: $site-gutters;
  left: auto;
  width: calc(100vw * 1/3);
  max-height: calc(100vh * 2/3);
  padding: 36px 30px;
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateY(-101%);
  background-color: $brandwhite;
  transition: transform 0.3s ease-in-out;
  border: 4px solid $box-border;
  border-top: none;
  @media screen and (max-width: $small-screen) {
    right: 0;
    transition: none;
    width: 100vw;
    max-height: calc(100vh - 80px);
    border: none;
  }
}

@mixin box-overlay-open {
  -webkit-overflow-scrolling: touch;
  top: 88px;
  transform: translateY(0);
}

@mixin lightbox {
  z-index: 110;
  position: fixed;
  top: 0;
  left: calc(100vw * 1/3);
  width: calc(100vw * 1/3);
  height: auto;
  min-height: calc(100vh * 1/3);
  max-height: calc(100vh - 150px);
  padding: $spacer2;
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateY(-100%);
  background-color: $brandwhite;
  transition: transform 0.3s ease-in-out;
  border: 4px solid $box-border;
  @media screen and (max-width: $medium-screen) {
    width: calc(100vw * 2/3);
    left: calc(100vw * 1/6);
    padding: $spacer;
  }
  @media screen and (max-width: $small-screen) {
    width: 90vw;
    max-height: calc(100vh - 80px);
    left: calc(100vw * 1/20);;
    transition: none;
  }
}

@mixin lightbox-open {
  -webkit-overflow-scrolling: touch;
  top: 100px;
  @media screen and (max-width: $small-screen) {
  top: $spacer2;
  }
  transform: translateY(0);
}

@mixin shadow {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0 !important;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  background: rgba($brand-primary, 0.3);
  content: "";
  transition: background 0.3s ease-in-out;
}

// Utility

@mixin group {
  @content;
  &::before,
  &::after {
    display: table;
    content: "";
  }
  &::after {
    clear: both;
  }
}

@mixin image {
  display: block;
  width: 100%;
  height: auto;
  border-style: none;
}

@mixin svg {
  display: block;
  height: auto;
  border-style: none;
}

@mixin focus {
  outline: 2px solid $highlight;
  background-color: transparent;
}

@mixin conceal {
  display: none !important;
  visibility: hidden;
}

@mixin disclose {
  display: block !important;
  visibility: visible;
}

@mixin hide {
  position: absolute;
  left: -9999em;
}

@mixin show {
  position: static;
  left: inherit;
}

@mixin visually-hidden {
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
}

// Messages
@mixin error {
  padding: $halfspacer $spacer;
  background: #840003;
  color: $white;
}

@mixin msg {
  margin-bottom: $spacer2;
  padding: $halfspacer $spacer;
  border: $border-size solid $black;
  font-size: $small-font-size;
}

@mixin update {
  padding: $halfspacer $spacer;
  background: $light-grey;
  color: $black;
}
