// Site wrapper
@mixin site-wrap {
  margin: auto;
}

@mixin error {
  background: #840003;
  color: $white;
  padding: $spacer $spacer2;
}

@mixin msg {
  border: $border-size solid $black;
  padding: $spacer $spacer2;
  font-size: $detail-font-size;
  margin-bottom: $spacer4;
}

@mixin update {
  background: $grey4;
  color: $black;
  padding: $spacer $spacer2;
}

@mixin heading1 {
  font-size: 1.875rem;
  line-height: 35px;
  letter-spacing: -1px;
  margin-bottom: $spacer4;
  @media screen and (min-width: $huge-screen) {
    font-size: 2.5rem;
    line-height: 47px;
  }
  @media screen and (max-width: $small-screen) {
    font-size: 25px;
    line-height: 30px;
  }
}

@mixin heading2 {
  font-size: 1.5625rem;
  line-height: 30px;
  letter-spacing: -1px;
  margin-bottom: $spacer4;
  @media screen and (min-width: $huge-screen) {
    font-size: 2.075rem;
    line-height: 40px;
  }
  @media screen and (max-width: $small-screen) {
    font-size: 22px;
    line-height: 25px;
  }
}

@mixin heading3 {
  font-size: 1.375rem;
  line-height: 25px;
  letter-spacing: -1px;
  margin-bottom: $spacer4;
  @media screen and (min-width: $huge-screen) {
  }
  @media screen and (max-width: $small-screen) {
    font-size: 20px;
    line-height: 25px;
  }
}

@mixin heading4 {
  font-size: 1.25rem;
  line-height: 25px;
  letter-spacing: -1px;
  @media screen and (min-width: $huge-screen) {
  }
  @media screen and (max-width: $small-screen) {
    font-size: 18px;
    line-height: 20px;
  }
}

@mixin body1 {
  font-size: 1rem;
  line-height: 25px;
  font-weight: $normal;
  @media screen and (max-width: $small-screen) {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin body2 {
  font-size: 0.875rem;
  line-height: 20px;
  @media screen and (max-width: $small-screen) {
    font-size: 12px;
    line-height: 20px;
  }
}

@mixin detail {
  font-size: 0.75rem;
  line-height: 15px;
  @media screen and (max-width: $small-screen) {
    font-size: 10px;
    line-height: 15px;
  }
}

@mixin button {
  appearance: none;
  background: transparent url("#{$image-path}/arrow.svg") no-repeat top 50% right 30px;
  border-radius: 0;
  border: 1px solid rgba($black, 0.15);
  color: $button-text;
  cursor: pointer;
  display: inline-block;
  font-weight: $normal;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 18px;
  padding-top: $spacer4;
  padding-right: $spacer18;
  padding-bottom: $spacer4;
  padding-left: $spacer6;
  @media screen and (max-width: $small-screen) {
    padding-top: $spacer3;
    padding-bottom: $spacer3;
    font-size: 12px;
  }
  text-align: left;
  transition: all $trans-time ease-in-out;
  white-space: nowrap;
  outline: none;

  &:hover {
    border: 1px solid rgba($black, 0.3);
    background-color: transparent;
    color: $button;
  }
}

@mixin button-light {
  @include button;
  background: transparent url("#{$image-path}/arrow-light.svg") no-repeat top 50% right 30px;
  border: 1px solid rgba($white, 0.15);
  color: $white;
  cursor: pointer;
  &:hover {
    border: 1px solid rgba($white, 0.3);
    background-color: transparent;
    color: $white;
  }
}

@mixin button-solid {
  @include button;
  padding-left: $spacer6;
  padding-right: $spacer6;
  background: $button-solid;
  border: 1px solid $button-solid;
  color: $button-solid-text;
  cursor: pointer;
  text-align: center;

  &:hover {
    background: $button-solid-hover;
    color: $button-solid-hover-text;
  }
}

@mixin button-outline {
  @include button;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  border: 1px solid rgba($black, 0.15);
  color: $black;
  cursor: pointer;
  text-align: center;

  &:hover {
    border: 1px solid rgba($black, 0.3);
    background: transparent;
    color: $grey2;
  }
}

@mixin non-button {
  @include button;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  border: 1px solid transparent;
  color: $black;
  cursor: pointer;
  text-align: center;

  &:hover {
    border: 1px solid transparent;
    background: transparent;
    color: $grey2;
  }
}

@mixin button-icon {
  appearance: none;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}

@mixin button-select {
  @include button-icon;
  background: transparent url("#{$image-path}/carat-down.svg") no-repeat 100% 50%;
  padding-right: 20px;
}

@mixin button-selected {
  @include button-icon;
  background: transparent url("#{$image-path}/carat-up.svg") no-repeat 100% 50%;
  padding-right: 20px;
}

@mixin box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(-100%);
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-open {
  -webkit-overflow-scrolling: touch;
  transform: translateY(0);
  z-index: 101;
}

@mixin nav-panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  min-height: 100vh;
  width: grid-width(17);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $panel-background;
  transform: translateX(100%);
  transition: transform $trans-time ease-in-out;
}

@mixin nav-panel-open {
  -webkit-overflow-scrolling: touch;
  transform: translateX(0);
}

@mixin panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  min-height: 100vh;
  min-width: 400px;
  width: grid-width(5);
  @media screen and (max-width: $small-screen) {
    width: grid-width(17);
  }
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $panel-background;
  transform: translateX(100%);
  transition: transform $trans-time-slow $trans-type1;
}

@mixin panel-open {
  -webkit-overflow-scrolling: touch;
  transform: translateX(0);
}

@mixin shadow {
  background: rgba($black, 0.15);
  content: "";
  min-height: 100%;
  left: 0 !important;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: fixed;
  transition: background $trans-time-slow $trans-type1;
}

// Group / AKA Clearfix
@mixin group {
  @content;
  &::before, &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

@mixin image {
  border-style: none;
  display: block;
  height: auto;
  width: 100%;
}

@mixin svg {
  border-style: none;
  display: block;
  height: auto;
}

@mixin focus {
  background-color: transparent;
  outline: 2px solid $highlight;
}

@mixin conceal {
  display: none !important;
  visibility: hidden;
}

@mixin disclose {
  display: block !important;
  visibility: visible;
}

@mixin hide {
  left: -9999em;
  position: absolute;
}

@mixin show {
  left: inherit;
  position: static;
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
