// Resets / Global form styles

@mixin form-input {
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: $border-size solid $input-border-colour;
  border-radius: 0;
  color: $base-font-colour;
  font-family: inherit;
  font-size: $base-font-size;
  font-weight: $normal;
  margin: 0;
  outline: none;
  padding: $spacer 0;
  transition: all $trans-time ease-in-out;
  width: 100%;
  z-index: 2;
  opacity: 0.4;

  &:focus {
    border-color: $input-border-colour-focus;
    opacity: 1;
  }
}

input, textarea, fieldset, label, legend, select, button {
  box-sizing: border-box;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="number"],
textarea {
  @include form-input;
}

input[type="number"] {
  padding: $halfspacer 0;
}

input[data-state="valid"] {
  border-color: $input-border-colour-focus;
}

textarea {
  border: 0;
  border-bottom: $border-size solid $input-border-colour;
  outline: none;
}

input[type="number"] {
  width: $spacer3;
}

// Placeholder text
input::placeholder,
input::placeholder-shown,
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
textarea::placeholder,
textarea::placeholder-shown,
textarea::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {
  color: $black;
  opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: $black;
  opacity: 1;
}

@-webkit-keyframes autofill {
  to {
    color: $base-font-colour;
    background: $white;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

fieldset {
  border: none;
  padding: 0;

  legend {
    width: 100%;
  }
}

textarea {
  padding: $spacer;
  resize: none;
}

// Buttons
.button--icon {
  @include button-icon;
}

// Radios
input[type=radio] {
  appearance: none;
  background: $white;
  border-radius: 50%;
  border: 1px solid $black;
  height: 18px;
  margin-right: $spacer;
  position: relative;
  top: 3px;
  width: 18px;
  outline: none;

  &:checked, &:active {
    background: $black;
  }
}

// Checkboxes
input[type=checkbox] {
  appearance: none;
  background: transparent;
  height: 15px;
  margin: 0;
  position: relative;
  top: 3px;
  width: 15px;
  padding: 2px;
  border: $border-size solid $black;
  opacity: 0.4;
  outline: none;
  &:checked {
    background: transparent url("#{$image-path}/checkbox.svg") no-repeat 50% 50%;
    background-size: 10px;
    opacity: 1;
  }
}

// Selects
select {
  appearance: none;
  background: $white url("#{$image-path}/carat-down.svg") no-repeat 100% 50%;
  border: none;
  font-family: inherit;
  font-size: $base-font-size;
  font-weight: $normal;
  outline: 0;
  padding-right: 20px;
  position: relative;
  outline: none;
}

// Labels
.form-group label,
.form-row label {
  display: block;
  padding: 0 0 $spacer 0;
}

// Legends
.form-group legend,
.form-row legend  {
  display: block;
  padding: 0 0 $spacer 0;
}

.form-group em, .form-row em {
  display: block;
  font-size: $detail-font-size;
  color: $grey2;
  font-style: normal;
}

.form-group, .form-row, .form-consent, .form-buttons {
  margin: 0 0 $spacer2 0;
  @media screen and (max-width: $small-screen) {
    margin: 0 0 0 0;
  }
}

.form-group .required span, .form-row .required span {
  font-size: $detail-font-size;
}

.form-error {
  padding: $spacer;
  background: $error;
}

.form-error input[type=text] {
  border-color: $error;
}

.form-error span {
  font-weight: $bold;
}
