// Fonts

$font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-serif: "Georgia", Times,Serif;
$base-sans: $font-family-sans;
$base-font-size: 1rem;
$base-line-height: 1.4;
$heading-line-height: 1.4;
$small-font-size: 0.8rem;
$small-screen-font-size: 0.8rem;
$print-font-size: $small-screen-font-size;
$measure: 44rem;

html {
  font-size: 100%; // 16px more or less
}

body {
  font-family: $font-family-sans;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: $heading-line-height;
  margin: 0 0 $spacer;
}

h1 {
  font-size: $base-font-size * 1.5;
}

h2, h3 {
  font-size: $base-font-size * 1.25;
}

p {
  margin: 0 0 $spacer;
}

a {
  text-decoration: none;
  color: $link-colour;
}

a:hover {
  text-decoration: none;
  color: $link-hover-colour;
}

small {
  font-size: $small-font-size;
}

// The content - Everything spat out by WordPress
.rich-text {
  max-width: $measure;

  ul {
    margin: 0 0 $spacer $spacer;
    li {
      list-style-type: disc;
      ul {
        margin: 0 0 0 $spacer;
        li {
          list-style-type: circle;
        }
      }
    }
  }

  ol {
    margin: 0 0 $spacer $spacer;
    li {
      list-style-type: decimal;
      ol {
        margin: 0 0 0 $spacer;
        li {
          list-style-type: lower-latin;
        }
      }
    }
  }

  blockquote {
    padding: 0 0 0 $spacer * 2;
    margin: 0 0 $spacer 0;
    max-width: $measure;
    border-left: 5px solid $brand-primary;

    cite:before {
      content: "\2014\00a0";
    }

    cite {
      font-family: $font-family-serif;
    }
  }

  figure {
    margin: 0 0 $spacer 0;
  }

  // Links

  a {
    color: $link-colour;
    text-decoration: none;
  }

  a:hover {
    color: $link-hover-colour;
  }

  a:visited {
    color: $link-colour;
  }

  a:active {
    color: $black;
    background: $highlight;
  }

  a:focus {}

}
